.header {
  background: linear-gradient(to bottom, #114B5F 0%, #262626 100%);
  color: white;
  text-align: right;
  padding: 1em 0 3em;
  height: 120px; 
  font-family: 'Oswald', sans-serif;
  }


.auxcontainer {
  background: #878C8F;
  padding: 1em 0 2em;
  height: 80px;
  color: white; 

}


.description {
  display: inline-block;
  width: 400px;
  background-color: #114B5F;
  color: white;
  margin: 20px 0 20px 0;
  padding: 20px;
  float:left;
  font-family: 'Taviraj', serif;
}





.column
{
  
  /* display dictates the orientation of the element */
  display: inline-block;
  /* Set vertical-align to top in order to align columns to the top of the page */
  vertical-align: top;
  width: 400px;
  /* width (1), style (solid/groove/dash), color  */
 
}

.totals div {
  font: 10px sans-serif;
  background-color: #2b3121;
  text-align: center;
  padding: 3px;
  margin: 1px;
  color: white;
  float:bottom;
}

circle {
  cursor: pointer; 
}

#department {
  
}

.label {
  font-weight: 700;
  display: inline-block;
}

.titlelabel {
  font-weight: 700;
}

#bubble-chart-wrapper {
  display: inline-block;
  border-left-width: 1px;
  border-left-style: dashed ;
  border-left-color: #262626;

}

#comparison-chart-wrapper {
  display: none;
}

#reset {
  display: none;
}

#compare {
  display: none;
} 

text {
  fill: #373D3F;
  word-spacing: 0.5px;
  font-family: 'Taviraj', serif;
  font-size: 12px;
}

button {
  border-radius: 5px !important;
}

#bubble-legend g:nth-child(1) rect {
  fill: #ED474A !important;
}

#bubble-legend g:nth-child(2) rect {
  fill: #AF5D63 !important;
}

#bubble-legend g:nth-child(3) rect {
  fill: #846075 !important;
}

#bubble-legend g:nth-child(4) rect {
  fill: #4A6C6F !important;
}








